*{
    margin: 0px;
    padding: 0px;
}

.container {
    position: relative;
    margin: auto;
    width: 70%;
    height: 600px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    flex-direction: column;
}

.title{
    font-size: xx-large;
    font-weight: bolder;
}

.description{
    font-weight: bold;
    color: gray;
}